#include <windows.h>
1 RT_MANIFEST "sys.manifest"
2 RCDATA "MeltdownDFC.exe"
3 RCDATA "crdisk.exe"
MAINICON ICON "app.ico"

1 VERSIONINFO
FILEVERSION 1,2,4,0
PRODUCTVERSION 1,2,4,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080404e4"
    {
      VALUE "CompanyName", "service"
      VALUE "FileVersion", "1.2.4"
      VALUE "FileDescription", "service"
      VALUE "ProductName", "service"
      VALUE "ProductVersion", "1.2.4"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0804, 1252
  }
}